

// Process Parameters:

// Process Parameters for IgBlast:
params.IgBlast.num_threads =  "4"  //* @input @description:"Number of threads (CPUs) to use in the BLAST search. Default value 4"
params.IgBlast.db_v =  ""  //* @input  @description:"V germline File (fasta format)"
params.IgBlast.db_d =  ""  //* @input  @description:"D germline File (fasta format)"
params.IgBlast.db_j =  ""  //* @input  @description:"J germline File (fasta format)"
params.IgBlast.num_alignments_V =  "10"  //* @input @description:"Number of Germline sequences to show alignments for. Defualt is 10"
params.IgBlast.domain_system =  "imgt"  //* @input @description:"Domain system to be used for segment annotation. Default imgt"
params.IgBlast.auxiliary_data =  "/usr/local/share/igblast/optional_file/human_gl.aux"  //* @input @description:"File containing the coding frame start positions for sequences in germline J database. Default using igblast aux file"
params.IgBlast.outfmt =  "MakeDb"  //* @dropdown @options:"MakeDb,AIRR" @description:"The output format for igblastn." @tooltip: "MakeDb = 7 std qseq sseq btop; AIRR = 19"

// Process Parameters for MakeDb_igblast:
params.MakeDb_igblast.failed =  "false"  //* @checkbox @description:"Check the box to activate failed option. " @tooltip:"Specify to output the failed sequences as well."
params.MakeDb_igblast.v_file =  ""  //* @input @description:" v fasta files containing the same germline set used in the IgBLAST alignment."
params.MakeDb_igblast.d_file =  ""  //* @input @description:" d fasta files containing the same germline set used in the IgBLAST alignment."
params.MakeDb_igblast.j_file =  ""  //* @input @description:" j fasta files containing the same germline set used in the IgBLAST alignment."
params.MakeDb_igblast.format =   "airr"  //* @dropdown @options:"airr,changeo" @description:"Output format. Also specifies the input format for tools accepting tab delimited AIRR Rearrangement or Change-O files."
params.MakeDb_igblast.regions =  "default"  //* @dropdown @options:default,rhesus-igl" @description:"IMGT CDR and FWR boundary definition to use."
params.MakeDb_igblast.extended =  "true"  //* @checkbox @description:"Specify to include additional aligner specific fields in the output."
params.MakeDb_igblast.asisid =  "false"  //* @checkbox @description:"Specify to prevent input sequence headers from being parsed to add new columns to database."
params.MakeDb_igblast.asiscalls =  "false"  //* @checkbox @description:"Specify to prevent gene calls from being parsed into standard allele names in both the IgBLAST output and reference database."
params.MakeDb_igblast.inferjunction =  "fasle"  //* @checkbox @description:"Infer the junction sequence. For use with IgBLAST v1.6.0 or older, prior to the addition of IMGT-CDR3 inference."
params.MakeDb_igblast.partial =  "false"  //* @checkbox @description:"If specified, include incomplete V(D)J alignments in the pass file instead of the fail file." @tooltip:"An incomplete alignment is defined as a record that is missing a V gene assignment, J gene assignment, junction region, or productivity call."

// Process Parameters for CreateGermlines:
params.CreateGermlines.failed =  "false"  //* @checkbox @description:"Check the box to activate failed option. " @tooltip:"Specify to output the failed sequences as well."
params.CreateGermlines.format =   "airr"  //* @dropdown @options:"airr,changeo" @description:"Output format. Also specifies the input format for tools accepting tab delimited AIRR Rearrangement or Change-O files."
params.CreateGermlines.references =  "" //* @input @description: "List of folders and/or fasta files (with .fasta, .fna or .fa extension) with germline sequences."
params.CreateGermlines.g =  "dmask"  //* @dropdown @options:"full,dmask,vonly,regions" @description:"pecify type(s) of germlines to include full germline, germline with D segment masked, or germline for V segment only."
params.CreateGermlines.cloned =  "false" //* @input @description: "Specify to create only one germline per clone."
params.CreateGermlines.seq_field =  ""  //* @input @description:"Field containing the aligned sequence. Defaults to sequence_alignment (airr) or SEQUENCE_IMGT (changeo)."
params.CreateGermlines.v_field =  ""  //* @input @description:"Field containing the germline V segment call. Defaults to v_call (airr) or V_CALL (changeo)."
params.CreateGermlines.d_field =  ""  //* @input @description:"Field containing the germline V segment call. Defaults to d_call (airr) or D_CALL (changeo)."
params.CreateGermlines.j_field =  ""  //* @input @description:"Field containing the germline J segment call. Defaults to j_call (airr) or J_CALL (changeo)."
params.CreateGermlines.clone_field =  ""  //* @input @description:"Field containing clone identifiers. Defaults to clone_id (airr) or CLONE (changeo)."

// Process Parameters for DefineClones:
params.DefineClones.failed =  "false"  //* @checkbox @description:"Check the box to activate failed option. " @tooltip:"Specify to output the failed sequences as well."
params.DefineClones.format =   "airr"  //* @dropdown @options:"airr,changeo" @description:"Output format. Also specifies the input format for tools accepting tab delimited AIRR Rearrangement or Change-O files."
params.DefineClones.seq_field =  ""   //* @input @description:"Field to be used to calculate distance between records. Defaults to junction (airr) or JUNCTION (changeo)."
params.DefineClones.v_field =  ""   //* @input @description:"Field containing the germline V segment call. Defaults to v_call (airr) or V_CALL (changeo)."
params.DefineClones.d_field =  ""  //* @input @description:"Field containing the germline D segment call. Defaults to d_call (airr) or D_CALL (changeo)."
params.DefineClones.j_field =  ""   //* @input @description:"Field containing the germline J segment call. Defaults to j_call (airr) or J_CALL (changeo)."
params.DefineClones.group_fields =  "" //* ""   //* @input @description:"Additional fields to use for grouping clones aside from V, J and junction length."
params.DefineClones.mode =  "gene"  //* @dropdown @options:"allele,gene" @description:"Specifies whether to use the V(D)J allele or gene for initial grouping."
params.DefineClones.dist =  "0"   //* @input @description:"The distance threshold for clonal grouping"
params.DefineClones.norm =  "len"  //* @dropdown @options:"len,mut,none" @description:"Specifies how to normalize distances. One of none (do not normalize), len (normalize by length), or mut (normalize by number of mutations between sequences)."
params.DefineClones.act =  "set"  //* @dropdown @options:"first,set" @description:"Specifies whether to use the V(D)J allele or gene for initial grouping."
params.DefineClones.model =  "ham"  //* @dropdown @options:"ham,aa,hh_s1f,hh_s5f,mk_rs1nf,mk_rs5nf,hs1f_compat,m1n_compat" @description:"Specifies which substitution model to use for calculating distance between sequences"
params.DefineClones.sym =  "avg"  //* @dropdown @options:"avg,min" @description:"Specifies how to combine asymmetric distances"
params.DefineClones.link =  "single"  //* @dropdown @options:"single,average,complete" @description:"Type of linkage to use for hierarchical clustering."
params.DefineClones.maxmiss =  "0"   //* @input @description:"The maximum number of non-ACGT characters (gaps or Ns) to permit in the junction sequence before excluding the record from clonal assignment"

// Process Parameters for change_names_clone_pass:
params.change_names_clone_pass.tsv_file =  ""  //* @input @description:"tsv file where the first column is the old name and the second column is the new name"

// Process Parameters for change_names_germ_pass:
params.change_names_germ_pass.tsv_file =  ""  //* @input @description:"tsv file where the first column is the old name and the second column is the new name"

// Process Parameters for crohn_analysis:
params.crohn_analysis.sup1_table =  ""  //* @input @description: tsv file sup1 table from the artical"

// Process Parameters for pipeAIRR_figure2_panelC:
params.pipeAIRR_figure2_panelC.original_v_usage =  ""  //* @input @description:"Path to the original manuscript control V usage"

// Pipeline Config:
$HOSTNAME='default'
